.arrow-left{
    background-image:url("../svg/triangle-left.svg");
    background-size: contain;
}

.arrow-right{
    background-image:url("../svg/triangle-right.svg");
    background-size: contain;
}


.crossX{
    content: "";
    height: 30px;
    background-color: transparent;
    background-position : center center;
    background-repeat:no-repeat;
    background-image:url("../svg/x.svg");
    background-size: contain;
}


.bouton-image{
    content: "";
    height: 50px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: text-top;
    background-color: transparent;
    background-position : center center;
    background-repeat:no-repeat;
}

#tab1{
    background-image: url("../media/Then_Street_View.jpg");
}

#tab2{
    background-image: url("../media/miners.jpg");
}

#tab3{
    background-image: url("../media/big_organ.jpg");
}

#tab4{
    background-image: url("../media/sewing_factory.jpg");
}

.overlay{
    position:absolute;
    left: 0;
    top: 0;
    z-index:2;
    width: 100%;
    height: 100%;
    background:url("../media/circle-scratch.png") no-repeat 50% 50%;
    
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

#overlay-text{
    position:absolute;
    left:45%;
    top:45%;
    width:100%;
    height:100%;
}

#churchVideo{
    position:absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}


